.conteiner{
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
} 
.conteiner form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.conteiner form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.conteiner input{
    color: black;
    padding-left: 15px;
    font-size: 18px;
}
.conteiner button{
    width: 100px;
    height: 40px;
    background-color: #ff5722;
}